<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bangalore.bms.studentinformationportal">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/bms"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bms"
        android:supportsRtl="true"
        android:theme="@style/studentinfo">
        <activity android:name=".LoginPage"></activity>
        <activity android:name=".RegisterPage">
            <intent-filter>
                <action android:name="android.intent.action.MA" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>